@import "./mixin";

.mainPage {
	padding: 12rem 3.2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.wrapper {
		max-width: 30rem;
		margin: 0 auto;
	}

	header {
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;

		.logo {
			width: 100%;
		}
	}

	> a {
		margin-top: 6rem;
	}

	.addItemButton {
		margin: 0 auto;
		height: 4rem;
		border-radius: 4rem;
		background-color: var(--dark-green);
		color: white;
		font-size: 2rem;
		padding: 0 2rem;
		display: flex;
		align-items: center;

		> span {
			font-family: "Underground Book";
			font-weight: 300;
			font-size: 1rem;
			line-height: 3rem;
			text-decoration: none;
		}

		> img {
			width: 1.2rem;
		}

		&:hover {
			background-color: var(--darkest-green);
		}
	}
}

@include desktop-and-tablet {
	.mainPage {
		.wrapper {
			max-width: 30rem;
			margin: 0 auto;
		}

		> a {
			width: max-content;
			margin-top: 12rem;
		}
	}
}
