@import "./style/reset.scss";

:root {
	--primary: #67ae8b;
	--secondary: #008e7d;
	--dark-green: #06373a;
	--darkest-green: #162027;
	--light-yellow: #ffe3b3;

	// Border Radius
	--border-sm: 1rem;

	// Font size
	--title-sm: 2.4rem;

	// Padding
	--padding-sm: 1.6rem;
	--padding-m: 2.4rem;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Underground Book";
	font-weight: 300;
	font-size: 1rem;
	background-color: var(--secondary);
}

button {
	cursor: pointer;
}
