@import "./style/reset.scss";

:root {
	--primary: #67ae8b;
	--secondary: #498075;
	--dark-green: #06373a;
	--light-yellow: #ffe3b3;

	// Border Radius
	--border-sm: 1rem;

	// Font size
	--title-sm: 2.4rem;

	// Padding
	--padding-sm: 1.6rem;
	--padding-m: 2.4rem;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Underground";
	font-weight: 600;
	font-size: 1rem;
}
