@font-face {
	font-family: "Underground";
	src: local("Underground Book"), url("./assets/Fonts/P22UndergroundPro-Book.otf") format("opentype");
	font-weight: 200;
}

@font-face {
	font-family: "Underground";
	src: url("./assets/Fonts/P22UndergroundPro-Book.otf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: "Underground";
	src: local("Underground Demi"), url("../Fonts/P22UndergroundPro-Demi.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "Underground";
	src: local("Underground Medium"), url("../Fonts/P22UndergroundPro-Medium.otf") format("opentype");
	font-weight: 600;
}

@font-face {
	font-family: "Underground";
	src: local("Underground Heavy"), url("./assets/Fonts/P22UndergroundPro-Heavy.otf") format("opentype");
	font-weight: 700;
}
